
<div class="container">


  <div class="card card-block">
    <h4 class="card-title">Profile </h4>

    <div class="row">
      <div class="col-md-3 col-sm-3 col-xs-3">

        <div class="card text-xs-center">
          <div class="card-header">
            Picture
          </div>
          <div class="card-block">
            <h4 class="card-title">{{ user.role }}</h4>
            <img id="picture-profile" class="img-thumbnail" width="100" src="{{ getPictureUrl( user.picture) }}" />

            <div class="form-group">
              <input class="btn btn-primary btn-sm" ng-click="openUploadModal()" value="Update Image"/>
            </div>

          </div>
          <div class="card-footer text-muted">
            <li class="list-group-item"> {{ getTime(user.createdAt) }}</li>
          </div>
        </div>

      </div>

      <div class="col-md-9 col-sm-9 col-xs-9">

        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link active" href="#">Active</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Options</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#/activities/{{ user.id }}">See Activities</a>
            </div>
          </li>

        </ul>

        <ul class="list-group">
          <li class="list-group-item"><strong>Id</strong> {{ user.id}}</li>
          <li class="list-group-item"><strong>Name</strong> {{ user.name }}</li>
          <li class="list-group-item"><strong>Email</strong> {{ user.email }}</li>
          <li class="list-group-item"><strong>Created At</strong> {{ getTime(user.createdAt) }}</li>
          <li class="list-group-item"><strong>Role</strong> {{ user.role }} </li>
        </ul>

        <br />
        <div class="card card-block">
          <div id="chartItHistory" style="width:100%; height:400px;"></div>
        </div>

      </div>

    </div>

  </div>

</div>

<div id="uploadModal" class="modal fade">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="modal-title">User Picture</h5>
      </div>
      <div class="modal-body">

        <div class="card card-outline-info text-xs-center">
          <div class="card-block">
            <img id="preview" class="img-thumbnail" src="http://placehold.it/80x80" />
          </div>
        </div>

        <form id="uploader-form" enctype="multipart/form-data">
          <div class="form-group">
            <label>Choose a image</label>
            <input id="picture-uploader"  accept="image/*"  type="file" multiple="multiple" />
          </div>
        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" ng-click="uploadFile()" class="btn btn-primary">Send</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->



