
<div class="container">

  <div class="page-header">
    <div class="row">
    	<div class="col-md-10 col-sm-10 col-xm-10">
    		<h3>Users</h3>	
    	</div>
    	<div class="col-md-2 col-sm-2 col-xm-2">
			<button id="btnAddUser" ng-click="openUserModal()"  type="button" class="btn btn-secondary">
			<i class="fa fa-user-plus fa-lg"></i> New
			</button>
    	</div>
    </div>
  </div>

  <table id="usersTable" class="table">
	  <thead>
	    <tr>
	      <th># ID</th>
	      <th>Username </th>
	      <th>Email</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr ng-click="openActivity(user.id)" ng-repeat="user in users">
	      <th scope="row">{{ user.id }}</th>
	      <td>{{ user.name }}</td>
	      <td>{{ user.email }}</td>
	    </tr>
	  </tbody>
	</table>

</div>

<div id="userModal" class="modal fade">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="modal-title">New User</h5>
      </div>
      <div class="modal-body">

		<form>
			<div class="form-group">
				<label for="inputName" class="sr-only">Email address</label>
				<input ng-model="name" type="text" id="inputName" class="form-control" placeholder="Username" required autofocus>				
			</div>

			<div class="form-group">
				<label for="inputEmail" class="sr-only">Email address</label>
				<input ng-model="email" type="email" id="inputEmail" class="form-control" placeholder="Email address" required>				
			</div>

			<div class="form-group">
				<label for="inputPassword" class="sr-only">Password</label>
				<input ng-model="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
			</div>
		</form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" ng-click="register()" class="btn btn-primary">Save</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
