
<div class="container">


  <div class="card card-block">
    <h4 class="card-title">Users     <a ng-click="openUserModal()" class="btn btn-secondary btn-sm pull-right"><i class="fa fa-user-plus"></i> New</a>
    </h4>
    <table id="usersTable" class="table">
    </table>
  </div>

</div>

<div id="userModal" class="modal fade">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="modal-title">New User</h5>
      </div>
      <div class="modal-body">

		<form>
			<div class="form-group">
				<label for="inputName" class="sr-only">Email address</label>
				<input ng-model="name" type="text" id="inputName" class="form-control" placeholder="Username" required autofocus>
			</div>

			<div class="form-group">
				<label for="inputEmail" class="sr-only">Email address</label>
				<input ng-model="email" type="email" id="inputEmail" class="form-control" placeholder="Email address" required>
			</div>

			<div class="form-group">
				<label for="inputPassword" class="sr-only">Password</label>
				<input ng-model="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
			</div>

      <div class="form-group">
        <select ng-model="role"  class="form-control" placeholder="Role" >
          <option value="USER">USER</option>
          <option value="DEVELOPER">DEVELOPER</option>
          <option value="ADMIN">ADMIN</option>
        </select>
      </div>


    </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" ng-click="register()" class="btn btn-primary">Save</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
