

 <!-- Documentation for activity api -->
<div class="row">

  <div class="col-md-12 col-sm-12 col-xm-12">

    <div class="panel panel-default">
      <div class="panel-heading"><h4> /activity </h4></div>
      <div class="panel-body">

        <p>
          API Documentation to <strong>Activity</strong> entity, an ativity is any taks perform 
          by the user during the day.</p>

        <h4>Fields</h4>

        <p>The Activity entity has the fields:</p>

        <ul>
          <li><strong>id {number} </strong> - the activity identifier on database</li>
          <li><strong>title {string} </strong> - the activity name</li>
          <li><strong>description {string} </strong> - the activity description</li>
          <li><strong>createdAt {date} </strong> - the activity creation date</li>
          <li><strong>userId {number} </strong> - Indicating the user owner of this activity</li>
        </ul>          


        <h4>Allowed Methods </h4>


        <h5>GET</h5>

        <h5>POST</h5>

        <h5>UPDATE</h5>

        <h5>DELETE</h5>


      </div>
    </div>

  </div>

</div>

