  <div class="row">

  <div class="col-md-12 col-sm-12 col-xm-12">

    <div class="panel panel-default">
      <div class="panel-heading"><h4> PovMT Server Endpoints </h4></div>
      <div class="panel-body">
        <p><strong>Base URL</strong>: https://povmt.herokuapp.com/ </p>   
        <p>Implemented Web Service endpoints to version 1.0</p>

        <div class="list-group">
          <a  class="list-group-item" href="/users"><strong>/users</strong> </a></li>
          <a  class="list-group-item" href="/activities"><strong>/activities</strong> </a></li>
          <a  class="list-group-item" href="/its"><strong>/its</strong> </a></li> 
          <a  class="list-group-item" href="/historical"><strong>/history</strong> <span class="label label-success pull-right">26 Nov 2016</span></a></li> 
        </div>          

      </div>
    </div>

  </div>

</div>
