
<!-- Documentation for it (invested time) api -->
<div class="row">

  <div class="col-md-12 col-sm-12 col-xm-12">

    <div class="panel panel-default">
      <div class="panel-heading"><h4> /it </h4></div>
      <div class="panel-body">

      <p>
        API Documentation to <strong>It (<em>invested time</em>)</strong> entity, an <strong>it</strong>  is
        period of time allocated by user performing any registered activity.
      </p>

      <h4>Fields</h4>

      <p>The <em>IT</em> entity has the fields:</p>

      <ul>
        <li><strong>id {number} </strong> - the It identifier on database</li>
        <li><strong>duration {number} </strong> - the time in minutes invested performing the task</li>
        <li><strong>createdAt {date} </strong> - the it creation date</li>
        <li><strong>activityId {number} </strong> - Indicating that this It belongs to activitywner of this activity</li>
      </ul>          


      <h4>Allowed Methods </h4>

      <h5>GET</h5>

      <h5>POST</h5>

      <h5>UPDATE</h5>

      <h5>DELETE</h5>


      </div>
    </div>

  </div>
  
</div>

