
<!-- Documentation for it (invested time) api -->
<div class="row">

  <div class="col-md-12 col-sm-12 col-xm-12">

    <div class="panel panel-default">
      <div class="panel-heading"><h4> /it </h4></div>
      <div class="panel-body">

      <p>
        API Documentation to <strong>It (<em>invested time</em>)</strong> entity, an <strong>it</strong>  is
        period of time allocated by user performing any registered activity.
      </p>

      <h4>Fields</h4>

      <p>The <em>IT</em> entity has the fields:</p>

      <ul>
        <li><strong>id {number} </strong> - the It identifier on database</li>
        <li><strong>duration {number} </strong> - the time in minutes invested performing the task</li>
        <li><strong>createdAt {date} </strong> - the it creation date</li>
        <li><strong>investedTimeAt {number} </strong> - Indicating the activity id</li>
      </ul>          

<h3>1.0 Retrieving all It (Invested Time)</h3>

<p> Resquest route </p>
<pre>
 GET /it
</pre>

<p>Server response</p>

<pre>
 {
  "status": 200,
  "its": [
    {
      "duration": 20,
      "createdAt": "2016-11-20T19:44:29.578Z",
      "updatedAt": "2016-11-20T19:44:29.578Z",
      "id": 1
    },
    {
      "duration": 35,
      "createdAt": "2016-11-20T19:54:06.361Z",
      "updatedAt": "2016-11-20T19:54:06.361Z",
      "id": 2
    },
    {
      "duration": 10,
      "createdAt": "2016-11-20T19:57:28.286Z",
      "updatedAt": "2016-11-20T19:57:28.286Z",
      "id": 3
    }
  ],
  "rowCount": 3
}
</pre>


<h3>2.0 Retrieving all It (Invested Time) for an specific Activity</h3>

<p> Resquest route </p>
<pre>
 GET /it?timeInvestedAt=1
</pre>

<p>Server response</p>

<pre>
 {
  "status": 200,
  "its": [
    {
      "duration": 20,
      "createdAt": "2016-11-20T19:44:29.578Z",
      "updatedAt": "2016-11-20T19:44:29.578Z",
      "id": 1
    },
    {
      "duration": 35,
      "createdAt": "2016-11-20T19:54:06.361Z",
      "updatedAt": "2016-11-20T19:54:06.361Z",
      "id": 2
    },
    {
      "duration": 10,
      "createdAt": "2016-11-20T19:57:28.286Z",
      "updatedAt": "2016-11-20T19:57:28.286Z",
      "id": 3
    }
  ],
  "rowCount": 3
}
</pre>




<h3>3.0 Create a new It (Invested Time)</h3>

<p> Request route (Warning: <strong>InvestedTimeAt</strong> is requered , represents the Activity Id) </p>
<pre>
 POST /it

 data { duration : 20 , investedTimeAt : 1 }
</pre>

<p>Server response</p>

<pre>
 {
  "status": 201,
  "it": {
    "duration": 20,
    "createdAt": "2016-11-20T19:44:29.578Z",
    "updatedAt": "2016-11-20T19:44:29.578Z",
    "id": 1
  }
 }
</pre>

      <h5>UPDATE</h5>

      <h5>DELETE</h5>


      </div>
    </div>

  </div>
  
</div>

