<!DOCTYPE html>
<html lang="en" ng-app="PovMTWebAdmin">
  <head>
    <title><%=typeof title == 'undefined' ? 'PovMT Admin' : title%></title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--STYLES-->
    <link rel="stylesheet" href="/resources/css/bootstrap.min.css">
    <!--STYLES END-->
    <link rel="stylesheet" type="text/css" href="/resources/css/alertify.css" />
    <link rel="stylesheet" type="text/css" href="/app/auth/auth.css" />
    <link rel="stylesheet" type="text/css" href="/app/users/user.css" />
    <link rel="stylesheet" type="text/css" href="/app/activities/activity.css" />
    <link rel="stylesheet" type="text/css" href="/app/its/it.css" />

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.2/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="resources/css/dataTables.material.min.css" />
    <link rel="stylesheet" type="text/css" href="resources/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap4.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css" />
  </head>

  <body>

   <nav ng-if=" window.location.hash !== '#/' " class="navbar navbar-static-top navbar-dark bg-inverse">
      <a class="navbar-brand" href="#">PovMT Admin</a>
      <ul class="nav navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#/users">Users</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#/api">API</a>
        </li>
      </ul>
    </nav>

    <ng-view></ng-view>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.8/js/tether.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/2.17.0/moment.min.js"></script>

    <!--SCRIPTS-->
    <script src="/resources/js/dependencies/sails.io.js"></script>
    <script src="/resources/js/jquery.dataTables.min.js"></script>
    <script src="/resources/js/angular.min.js"></script>
    <script src="/resources/js/angular-route.js"></script>
    <script src="/resources/js/alertify.js"></script>
    <script src="/resources/js/bootstrap.min.js"></script>
    <script src="/resources/js/dataTables.material.min.js"></script>
    <script src="/resources/js/jquery.min.js"></script>
    <script src="/resources/js/moment.js"></script>
    <script src="/resources/js/tether.min.js"></script>
    <!--SCRIPTS END-->


    <script type="text/javascript" src="resources/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="resources/js/dataTables.material.min.js"></script>

    <script type="text/javascript" src="resources/js/tether.min.js"></script>
    <script type="text/javascript" src="resources/js/bootstrap.min.js" ></script>


    <!-- PovMT Web Admin Application -->
    <script type="text/javascript" src="app/app.js"></script>
    <script type="text/javascript" src="app/config.js"></script>
    <script type="text/javascript" src="app/services/rest.js"></script>
    <script type="text/javascript" src="app/signup/signup.js"></script>
    <script type="text/javascript" src="app/auth/auth.js"></script>
    <script type="text/javascript" src="app/users/user.js"></script>
    <script type="text/javascript" src="app/activities/activity.js"></script>
    <script type="text/javascript" src="app/its/it.js"></script>
    <script type="text/javascript" src="app/history/history.js"></script>
    <!-- PovMT Web Admin Application -->
  </body>
</html>
