
  <!-- Documentation for user api -->
  <div class="row">

    <div class="col-md-12 col-sm-12 col-xm-12">

  
      <div class="panel panel-default">
        <div class="panel-heading"><h4> /user </h4></div>
        <div class="panel-body">

<p>
  API documentation to <strong>User</strong> entity, an user is a person with granted
  access to mobile application.
</p>

<h4>Fields</h4>

<p>An user is an entity model represent with the following attributes:</p>

<ul>
  <li><strong>id </strong>{number} - the user identifier on database</li>
  <li><strong>name</strong>{string} - the user name</li>
  <li><strong>email</strong>{string} - the user email</li>
  <li><strong>password</strong>{string} - the user password</li>
  <li><strong>createdAt</strong>{date} - the account creation date</li>
  <li><strong>updatedAt</strong>{date} - the last  account update date</li>
</ul>

<h3>1.0 Retrieving all users </h3>

<p>Requested route</p>

<pre>
  GET /user     
</pre>

<p>Server response</p>

<pre>
{
  "status": 200,
  "users": [
    {
      "name": "samuel",
      "email": "samuel.santos@mail.com",
      "createdAt": "2016-11-19T23:35:35.291Z",
      "updatedAt": "2016-11-19T23:35:35.291Z",
      "id": 2
    }
  ],
  "rowCount": 1
}

</pre>


<h3>2.0 Retrieving a specific user passing your id. </h3>

<p>Requested route</p>

<pre>
 GET /user/2
</pre>

<pre>
 {
  "status": 200,
  "user": {
    "name": "samuel",
    "email": "samuel.santos@mail.com",
    "id": 2,
    "createdAt": "2016-11-19T23:35:35.291Z",
    "updatedAt": "2016-11-20T14:38:09.122Z"
  }
}
</pre>


<h3>3.0 Creating a new User </h3>

<pre> 
 POST /user
</pre>

<p>Request parameters </p>          
<pre>

 { "name" : "samuel" , "email" : "samuel.santos@mail.com" , "password" : "developer#123"}

</pre>
          <p>Server Response</p>

<pre>
  {
  "status": 201,
  "user": {
    "name": "samuel",
    "email": "samuel.santos@mail.com",
    "createdAt": "2016-11-19T23:20:26.846Z",
    "updatedAt": "2016-11-19T23:20:26.846Z",
    "id": 1
  }
 }
</pre>


<h3>4.0 Update an user account</h3>

<pre> 
 PUT /user/2
</pre>

<p>Request parameters </p>          
<pre>

 { "name" : "samuel santos" , "email" : "samuel.santos@mail.com" , "password" : "admin#123"}

</pre>
          <p>Server Response</p>

<pre>
 {
  "status": 200,
  "message": "Account update successfully."
 }
</pre>


<h3>5.0 Deleting a user account</h3>

<pre> 
 DELETE /user/2
</pre>

<p>Server Response</p>

<pre>
 {
  "status": 200,
  "message": "Account deleted successfully."
 }
</pre>


<h3>6.0 Simple user authentication</h3>

<pre> 
 POST /user/auth
</pre>

<p>Request parameters </p>          
<pre>

 { "email" : "samuel.santos@mail.com" , "password" : "admin#123"}

</pre>

<p>Server Response</p>

<pre>

//When authorized 

{
  "status": 200,
  "user": {
    "email": "samuel.santos@mail.com",
    "name": "samuel santos",
    "createdAt": "2016-11-20T14:52:02.080Z",
    "updatedAt": "2016-11-20T14:52:02.080Z",
    "id": 3
  }
}

//When unauthorized
{
  "status": 401,
  "message": "Unauthorized, Invalid email and password combination."
}

//When the request was done missing parameters
{
  "status": 400,
  "message": "You must enter both a email and password."
}

</pre>



        </div>
      </div>

    </div>

  </div>
