<div class="container">

  <form class="form-signin">
    <h2 class="form-signin-heading">PovMT Admin</h2>
    <label for="inputEmail" class="sr-only">Email address</label>
    <input ng-model="email" type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input ng-model="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
    <div class="checkbox hidden">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" ng-click="login()">Sign in</button>
  </form>

</div> <!-- /container -->
